/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: "Times New Roman", Times, Serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: dodgerblue;
}

/* Henry's custom stuff */
.center{
    text-align: center;
    padding-right: 480px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.img-304x228{
    width: 304px;
    height: 228px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
}

#header {
    text-align: center;
    background-color: black;
}

#menu{
    text-align: center;
}

#input1{
    text-align: center;
    position:relative;
    top: 30px;
    margin-bottom: 30px;
}

#input2{
    text-align: center;
    position:relative;
    top: 30px;
    margin-bottom: 30px;
}

textarea {
    vertical-align: top;
}
p {
    color: black;
    font-weight:bold;
    position:relative;
}
label{
    color: black;
    font-weight:bold;
    position:relative;
    display: inline-block;
    top:-30px;
    width: 0px;
}

body {
    border: 100px solid black;
    border-left-width: 0px;
    border-right-width: 0px;
    min-height: 100%;
    margin: 0;
    /*border-left-color: dodgerblue;
    border-right-color: dodgerblue;*/
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
} */

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}